#Config files
config/home-assistant_v2.db
config/home-assistant_v2.db-shm
config/home-assistant_v2.db-wal
config/home-assistant.log
config/home-assistant.log.1
config/home-assistant.log.fault
config/.ip_authenticated.yaml

config/.storage/*
!config/.storage/lovelace_resources

config/.cloud
config/deps
config/tts



backup
back
homeassistant-repos
staging
zips
frontend-20211220.0
homeassistant/.git





#.env

#Cache 
**/__pycache__/
